@import '../../../../styles/palette.scss';

.navbar {
  min-height: 45px;
  max-height: 350px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_fiord_approx;
  box-shadow: 2px 2px 9px 3px rgb(0 0 0 / 86%);
  color: white;

  .menu {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 3%;
  }

  .title {
    font-size: 5vw;
    flex: 1;
  }
}
