<section class="wrapper {{Tour.color}}">
  <form #form="ngForm" [formGroup]="emailForm" class="emailForm" (ngSubmit)="onFormSubmit()">
    <label>
      <span>Subject:</span>
      <input formControlName="subject" name='subject' type="text" placeholder="Email subject..." />
    </label>
    <label>
      <span>To:</span>
      <input formControlName="to" name='to' type="email" placeholder="Email recipient..." readonly />
    </label>
    <label>
      <span>From:</span>
      <input formControlName="from" name='from' type="email" placeholder="Your email..." />
    </label>
    <label>
      <span>Message:</span>
      <textarea formControlName="message" name='message' type="text" placeholder="Your Message..."></textarea>
    </label>
    <label class="hidden">
      <span>Tour id:</span>
      <input formControlName="tourId" name='tourId' type="NUMBER" placeholder="Tour id..." />
    </label>
    <label class="hidden">
      <span>Tour title:</span>
      <input formControlName="tourTitle" name='tourTitle' type="text" placeholder="Tour title..." />
    </label>
    <label class="hidden">
      <span>Stops</span>
      <input formControlName="stops" name='stops' type="text" placeholder="Stops..." />
    </label>
    <label class="hidden">
      <span>Tour start:</span>
      <input formControlName="start" name='start' type="date" placeholder="Tour start..." />
    </label>
    <label class="hidden">
      <span>Tour end:</span>
      <input formControlName="end" name='end' type="date" placeholder="Tour end..." />
    </label>

    <div class="buttons-container">
      <button type="submit" disabled="{{emailForm.invalid ? emailForm.invalid: null}}">Send email</button>
    </div>
  </form>
</section>
