:host {
  display: block;
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  as-navbar {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  as-tours-list {
    flex: 1;
  }
}
