@import '../../../../../styles/palette.scss';

.wrapper.dark {
  background-color: $color_c;
  color: $white;

  .items {

    .item {
      border-bottom-color: $color_d;

      img {
      }
    }
  }
}
