<section class="wrapper {{Tour.color}}">
  <section class="left">
    <div class="header">
      <h2 class="title">
        {{Tour.title}}
      </h2>
    </div>
    <div class="body">
      <ng-container *ngIf="section === sections.DETAILS">
        <as-info-details [Tour]="Tour" [@slideInOut]>
        </as-info-details>
      </ng-container>
      <ng-container *ngIf="section === sections.MAP">
        <as-info-map [Tour]="Tour" [@slideInOut]>
        </as-info-map>
      </ng-container>
    </div>
  </section>
  <section class="right">
    <as-info-menu [Tour]="Tour" (OnOpenDetails)="onOpenDetails()" (OnOpenMap)="onOpenMap()">
    </as-info-menu>
  </section>
</section>
