<section class="wrapper {{tour.color}}">
  <div class="paragraph">
    <span class="title">{{ translationsService.translate('Period') }}:</span>
    <span>{{ translationsService.translate('From') | lowercase }} {{tour.period.start | date: 'fullDate'}}</span>
    <span>{{ translationsService.translate('To') | lowercase }} {{tour.period.end | date: 'fullDate'}}.</span>
  </div>
  <div class="paragraph">
    <span class="title">{{ translationsService.translate('Price') }}:</span>
    <span>{{tour.price.single}} {{tour.price.currency}} {{ translationsService.translate('Single') | lowercase }}</span>
    <span>{{tour.price.couple}} {{tour.price.currency}} {{ translationsService.translate('Couple') | lowercase }}</span>
  </div>
  <div class="paragraph">
    <span class="title">{{ translationsService.translate('Stops') }}:</span>
    <ul>
      <ng-container *ngFor="let stop of stops">
        <li>
          <span>{{ translationsService.translate(stop.name) }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="paragraph">
    <span class="title">{{ translationsService.translate('Services') }}:</span>
    <ul>
      <ng-container *ngFor="let service of tour.services">
        <li>
          <span>{{ translationsService.translate(service) }}</span>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
