$color_celeste_approx: #ccc;
$color_dolly_approx: #fff985;
$color_fiord_approx: #395373;
$white: white;

$color_wild_watermelon_approx: #f64c73;
$color_crimson_approx: #db1a46;
$color_cerise_red_approx: #e6365f;

$color_java_approx: #20d2bb;
$color_caribbean_green_approx: #10bba7;
$color_riptide_approx: #7cddcd;

$color_heliotrope_approx: #c873f4;
$color_fuchsia_pink_approx: #b752eb;
$color_glicine_approx: #c57aeb;

