$color_celeste_approx: #ccc;
$color_dolly_approx: #fff985;
$color_fiord_approx: #395373;
$white: white;

$color_wild_watermelon_approx: #f64c73;
$color_crimson_approx: #db1a46;
$color_cerise_red_approx: #e6365f;
$color_lick_and_kiss_approx: #e7a3b3;

$color_java_approx: #20d2bb;
$color_caribbean_green_approx: #10bba7;
$color_riptide_approx: #7cddcd;
$color_oasis_stream_approx: #a8ebdf;

$color_heliotrope_approx: #c873f4;
$color_fuchsia_pink_approx: #b752eb;
$color_glicine_approx: #c57aeb;
$color_plasma_trail_approx: #d29eec;

$color_a: #181818;
$color_b: #262626;
$color_c: #323232;
$color_d: #5c5555;

$color_e: #c873f4;
$color_f: #b752eb;
$color_g: #c57aeb;
$color_h: #d29eec;

$light: #ffffff;
$dark: #131111;

$white: #ffffff;
$black: #000000;

$light-grey: #8a8a8a;
$header-light-grey: #f0f0f0;
