@import '../../../../../styles/palette.scss';
@import '../../../../../styles/built-in-tags.scss';

:host {
  height: 100%;
  display: flex;
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;

  as-email-form {
    position: absolute;
    top: 0%;
  }

  as-email-processing {
    top: -100%;
    position: absolute;
  }

  as-email-submission-result {
    top: -100%;
    position: absolute;
  }

  as-email-form,
  as-email-processing,
  as-email-submission-result {
    &.slide-in {
      animation: slide-in 2s forwards;
    }

    &.slide-out {
      animation: slide-out 2s forwards;
    }

  }
}

@keyframes slide-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-out {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
