@import '../../../../styles/palette.scss';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.wrapper {
  height: 96%;
  width: 90%;
  display: flex;
  flex-direction: column;
  color: $white;
  position: relative;

  &.right {
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  &.left {
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  &.top {
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
  }

  &.left {
    border-top-right-radius: 3%;
    border-top-right-radius: 3%;
  }

  button {
    height: 70%;
    background-color: transparent;
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      height: 100%;
      aspect-ratio: 1;
      width: auto;
    }
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color_c;

    .action-container {
      width: 100%;
      height: 11%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      padding: 3%;
      border-bottom: 1px solid $color_d;


      button {
        width: 100%;
        gap: 8%;

        svg {
        }

        span {
          flex: 1;
          display: flex;
          justify-content: left;
          color: $white;
          font-size: 15px;
        }
      }
    }
  }
}
