@import '../../../../../styles/palette.scss';
@import '../../../../../styles/built-in-tags.scss';

:host {
  height: 100%;
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5% 0%;

  .left {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1%;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      .title {
        font-size: 18px;
      }
    }

    .body {
      flex: 1;
      min-width: 240px;
      overflow-y: auto;
    }
  }

  .right {
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    min-width: 70px;
    width: 10%;
    max-width: 350px;
    padding: 0 7px;
  }
}
