<ng-container *ngIf="Tour">
  <div class="item {{Tour.color || Colors.WATERMELON}}">
    <ul class="background-images">
      <ng-container *ngFor="let image of backgroundImages; let i = index">
        <ng-container *ngIf="i === currentBackgroundImageIndex">
          <li [@fadeInOutBckImg] class="background-image">
            <img [src]="image.src">
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <as-menu-item [Color]="Tour.color || Colors.WATERMELON" [IsOpen]="Tour.mainMenuOpen || false"
      (OnToggleMenu)="onToggleMenu()" (OnClickGallery)="onClickGallery()" (OnClickInfo)="onClickInfo()"
      (OnClickEmail)="onClickEmail()">
    </as-menu-item>
    <section class="info">
      <span class="title">{{ translationsService.translate(Tour.title) }}</span>
      <span class="date">{{Tour.period.start| date: 'mediumDate'}}</span>
      <span class="date">{{Tour.period.end | date: 'mediumDate'}}</span>
    </section>
  </div>
</ng-container>

<ng-container *ngIf="isModalOpen">
  <as-modal (OnClose)="onModalClose()" [@fadeInOut]>
    <as-action [Tour]="Tour" (OnClose)="onModalClose()"></as-action>
  </as-modal>
</ng-container>
