
@import '../../../../../../styles/built-in-tags.scss';
@import '../../../../../../styles/palette.scss';

:host {
  display: flex;
  height: 100%;
}

.wrapper {
  padding: 0 2%;
  height: 100%;
  width: 100%;

  #map {
    height: 100%;
    width: 100%;

    .div-icon-leaflet {
      background: none;
      border: none;
    }
  }
}
