<section class="wrapper {{Tour.color}}">
  <!-- Form component -->
  <as-email-form
    [ngClass]="{'slide-in': !submitting && !submitOk && !submitError, 'slide-out' : !retrying && submitting && !submitOk && !submitError }"
    [Tour]="Tour" (OnSubmitting)="onSubmitting()" (OnSubmitError)="onSubmitError()" (OnSubmitOk)="onSubmitSuccess()">
  </as-email-form>

  <!-- Spinner component -->
  <as-email-processing [ngClass]="{'slide-in': submitting, 'slide-out' : !submitting && (submitOk || submitError) }"
    [Color]="Tour.color" [Text]="'Sending email...'"></as-email-processing>

  <!-- Success component -->
  <as-email-submission-result [ngClass]="{'slide-in': !submitting && submitOk && !submitError }" [Color]="Tour.color"
    [enableOk]="true" (OnOk)="onClose()">
    <span>Email has been sent correctly</span>
  </as-email-submission-result>

  <!-- Error component -->
  <as-email-submission-result
    [ngClass]="{'slide-in': !submitting && !submitOk && submitError, 'slide-out' : retrying || !firstTime && !submitting && !submitOk && !submitError }"
    [Color]="Tour.color" [enableOk]="true" [enableRetry]="true" (OnOk)="onUndo()" (OnRetry)="onRetry()">
    <span>Ouch, we could not send your email.</span>
    <span>Please, retry or write us at</span>
    <span><strong>{{email}}</strong>,</span>
    <span>letting us know about this issue.</span>
    <span>We apologize for the inconvenient.</span>
  </as-email-submission-result>
</section>
