@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$font_0: Roboto;
$font_1: Arial;
$font_2: sans-serif;

$font_size: 16px;

* {
  box-sizing: border-box;
	font-family: $font_0, $font_1, $font_2;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: inherit;
}

.hidden {
  display: none !important;
}
