@import '../../../../../../styles/palette.scss';
@import '../../../../../../styles/built-in-tags.scss';

:host {
  display: flex;
  width: 70%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
